---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro">
    <section class="min-h-screen items-center backdrop-blur-sm mt-20">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam magni in tempore fugit molestiae sapiente aspernatur atque recusandae quisquam tempora, fugiat voluptatum iure. Deserunt, ab necessitatibus facere numquam id temporibus!</p>
        <h1>HOLA ASTRO</h1>
    </section>
</Layout>